.router{
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    left: 0;
    top: 0;
    position: 'absolute';
    background-color:black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-title {
    font-size: 25px;
}

.navbar-text {
    color:white;
    font-weight:bold;
}

.navbar-buttons button {
    margin-left: 10px;
    border-radius: 10px;
    border-width: 0px;
    padding : 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.actor-button{
    background-color: #525252;
}
.actor-button:hover{
    background-color: #cecece;
    color:black;
}

.logout-button{
    background-color: #BB0A21;
}

.logout-button:hover{
    background-color: #ff0628;
}


.footer {
    background-color: black;
    color: #CCCCCC;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    margin-top: 30px;
}

.secondary-navbar {
    width: 95%;
    margin: 0 auto; 
    display: flex;
    margin-top:5px;
    margin-bottom:10px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #000000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-family: 'Your Chosen Font', sans-serif;
    
}

.secondary-navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

/* Default styles */
.card-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 3%;
}

.card1 {
    width: 45%;
    height: 156px;
    position: relative;
}

.Rectangle {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(82, 82, 82, 0.90);
    border-radius: 31px;
}

.TotalOrders {
    left: 30px;
    top: 18px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 600;
    word-wrap: break-word;
}

.TotalOrders {
    left: 507px;
    top: 57px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: 'Inter';
    font-weight: 600;
    word-wrap: break-word;
}

.order-btn-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
}

.order_btn {
    width: 20%;
    height: 360px;
    background-color: black;
    border-radius: 20px;
    border: 6px #B99641 solid;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.order_btn h3 {
    color: white; /* Set text color to white */
    margin: 0; /* Reset default margin */
}


.order_btn:hover {
    transform: scale(1.05);
}

/* Media query for screens smaller than 768px (typical tablets and mobile devices) */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card1 {
    width: 90%;
  }

  .order-btn-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .order_btn {
    width: 90%;
    
  }
}

